.menu {
  position: relative;
  width: calc(25vw - $index-padding);
  height: calc(100dvh - $index-padding * 2);
  background-image: linear-gradient(hsl(0 0% 30% / 0.8), hsl(0 0% 20% / 0.8));
  border-radius: 20px;
  flex-shrink: 0;
  overflow: auto;
}